<div class="container mt-4">
  <h3>Inventario</h3>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Stock</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of products">
          <td>{{ p.name }}</td>
          <td>${{ p.price }}</td>
          <td>{{ p.stock }}</td>
          <td>
            <button class="btn btn-sm btn-danger">
              Desactivar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
